h1 {
    margin: 10px;
}

table {
    margin:5px;
    width: 85%;

}

thead {
    position: sticky;
    top: 0;
    background-color: white;
}

.deduction-span {
    font-weight: bold;
    margin-right: 5px;
}
