<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../assets/img/logo.png" width="30" height="30" alt="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#payrollNavbar" aria-controls="payrollNavbar"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="payrollNavbar">
    <ul class="navbar-nav mr-auto" [hidden]="!this.isLoggedIn">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/employees/']">Employees <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <button id="settingsDropdown" class="nav-link dropdown-toggle btn btn-outline-light" ngbDropdownToggle>Settings</button>
        <div ngbDropdownMenu aria-labelledby="settingsDropdown">
          <a ngbDropdownItem [routerLink]="['/deductionTypes/']">Deduction Types</a>
          <a ngbDropdownItem href="#">Income Types</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto" [hidden]="this.isLoggedIn">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/login/']">Login <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
