<div class="modal-header">
    <h4 class="modal-title">{{this.employeeCompensation.employee.firstName + ' ' + this.employeeCompensation.employee.lastName}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Close Modal')"></button>
</div>
<div class="modal-body">
    <form [formGroup]="this.compensationForm" (ngSubmit)="this.submit()" class="row g-3">
        <div class="col-md-6">
            <label for="daily" class="form-label">Daily Rate</label>
            <input type="text" [(ngModel)]="employeeCompensation.daily" formControlName="daily" id="daily" class="form-control">
            <div *ngIf="form['daily'].touched && form['daily'].invalid" class="alert alert-danger">
                <div *ngIf="form['daily'].errors && form['daily'].errors['required']">Daily is required.
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" aria-label="Add" (click)="this.submit()">Update</button>
    <button type="button" class="btn btn-outline-dark" aria-label="Close"
        (click)="activeModal.dismiss('Cancel Update')">Cancel</button>
</div>